<%- include('../../components/html/header.ejs') %>
</head>

<body>

    <%- include('../../components/html/nvusers.ejs') %>

    <div class="container mycenter">
        <div class="row mt-5">
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4 ">
                                    <img src="<%= user.avatar %>"
                                        class="card-img rounded-circle" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= user.name %> <%= user.lstname %></h5>
                                        <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 ">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4  d-flex justify-content-center align-items-center">
                                    <i class="fas fa-map-marker-alt myicon red"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Address</h5>
                                        <a href="" class=" format stretched-link">You can add addres for your
                                            deliveries</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4  d-flex justify-content-center align-items-center">
                                    <i class="fas fa-unlock-alt myicon grei "></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Password and Security</h5>
                                        <a href="#" class="stretched-link">Change your password</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4  d-flex justify-content-center align-items-center">
                                    <i class="fas fa-box-open myicon brown"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Orders</h5>
                                        <a href="#" class="stretched-link">Check my orders</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4  d-flex justify-content-center align-items-center">
                                    <i class="far fa-credit-card myicon blue"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Cards</h5>
                                        <a href="#" class="stretched-link">Add other way to pay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4  d-flex justify-content-center align-items-center">
                                    <i class="fas fa-star myicon yellow"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Wishes</h5>
                                        <a href="#" class="stretched-link">Your list of wishes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4  d-flex justify-content-center align-items-center">
                                    <i class="fas fa-cogs myicon grei"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Settings</h5>
                                        <a href="/settings/<%= user.id %>" class="stretched-link">Update my count</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('../../components/html/tail.ejs') %>